<label for="dropdown" class="form-label">Sélectionnez le livre à modifier : </label><br>
  <select [(ngModel)]="selectedBook" id="dropdown" name="dropdown" (change)="searchCopiesFromBooks()">
    <option *ngFor="let book of books" [ngValue]="book">{{book.title}}
    </option>
  </select>

  <!-- <h5>Cherchez le livre à supprimer :</h5>
<input type="search" placeholder="rechercher par titre et auteur" aria-label="Search" name="field" [(ngModel)]="field">
<button class="btn btn-outline-success" type="submit" (click)="getBookBySearch()">Rechercher</button>
 -->


  <ul class="list-group" *ngIf="selectedBook && !displayForm">
    <li class="list-group-item" *ngFor="let copy of copies"><button type="button" class="btn btn-warning" (click)="displayUpdateForm(copy)">Modifier</button> {{copy.editor}} </li>
  </ul>
  
<form *ngIf="displayForm && selectedCopy" (ngSubmit)="updateCopy()">
  <h5>Modification de {{selectedBook?.title}} de l'éditeur {{selectedCopy.editor}}</h5>
  <div class="mb-3">
    <label for="editor" class="form-label">Editeur :</label>
    <input type="text" class="form-control" id="editor" name="editor" [(ngModel)]="selectedCopy.editor">
  </div>
  <div class="mb-3">
    <label for="pageNumber" class="form-label">Nombre de pages :</label>
    <input type="text" class="form-control" id="pageNumber" name="pageNumber" [(ngModel)]="selectedCopy.pageNumber">
  </div>
  <div class="mb-3">
    <label for="stock" class="form-label">Nombre de rentrées :</label>
    <input type="number" class="form-control" id="stock" name="stock" [(ngModel)]="selectedCopy.stock">
  </div>
  <div class="mb-3">
    <label for="state" class="form-label">Etat du livre :</label>
    <input type="text" class="form-control" id="state" name="state" [(ngModel)]="selectedCopy.state">
  </div>
  <div class="mb-3">
    <label for="cover" class="form-label">url de la couverture :</label>
    <input type="text" class="form-control" id="cover" name="cover" [(ngModel)]="selectedCopy.cover">
  </div>
  <button type="submit" class="btn btn-danger">Modifier</button>
</form>
<hr>
<p *ngIf="modified && selectedCopy">Le livre {{selectedBook?.title}} de l'éditeur {{selectedCopy.editor}} a bien été modifié</p>

