img {
  max-height: 250px;
  height: 35vh;
  margin-right: 0;
  margin-left: 0;
  width: 100vw;
  /* margin-top: 25px; */
  margin-bottom: 25px;
}
.btn-warning {
  margin-left: 10px;
}
.active{
  font-weight: bold;
}

#titre{
  font-size: 1.3em;
  color: blue;
}



