<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light global-color">
    <div class="container-fluid">

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="#" id="titre" >Ma Bibli en ligne</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/login']" [routerLinkActive]="'active'">Mon compte</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['home']" [routerLinkActive]="'active'">Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/category']" [routerLinkActive]="'active'">catégories</a>
          </li>
          <li class="nav-item" *ngIf="this.state.user">
            <a class="nav-link" [routerLink]="['/borrowings']" [routerLinkActive]="'active'" *ngIf="state.user.role!='ROLE_ADMIN'">Mes emprunts en cours</a>
          </li>
          <div *ngIf="state.user">
          <li class="nav-item">
            <a class="nav-link">Bienvenue {{state.user.firstName}}  {{state.user.lastName}}</a>
          </li>
        </div>
        </ul>

        <div *ngIf="state.user">
          <div class="dropdown" *ngIf="state.user.role=='ROLE_ADMIN'">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
              data-bs-toggle="dropdown" aria-expanded="false">
              Administrateur
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="/returning">Retour livre</a></li>
              <li><a class="dropdown-item" href='/restock'>Réapprovisionnement</a></li>
              <li><a class="dropdown-item" href='/create-book'>nouveau livre</a></li>
              <li><a class="dropdown-item" href='/create-copy'>nouvel exemplaire</a></li>
              <li><a class="dropdown-item" href='/delete-book'>Supprimer un livre</a></li>
              <li><a class="dropdown-item" href='/delete-copy'>Supprimer un exemplaire</a></li>
              <li><a class="dropdown-item" href='/update-book'>Modifier livre</a></li>
              <li><a class="dropdown-item" href='/update-copy'>Modifier exemplaire</a></li>
            </ul>
          </div>
        </div>
        <form class="d-flex" (ngSubmit)="getBookBySearch()">
          <input class="form-control me-2" type="search" placeholder=" tri par titre et auteur" aria-label="Search"
            name="field" [(ngModel)]="field">
          <button class="btn btn-primary" type="submit">Rechercher</button>
        </form>
        <form class="d-flex">
          <button type="button" class="btn btn-warning" *ngIf="state.user" (click)="logout()">Deconnexion</button>
        </form>
      </div>
    </div>
  </nav>
</header>
<img class="img-responsive" src="assets/images/library1.png" alt="image de bibliothèque">