
<h4>Liste des emprunts de {{user.firstName}}  {{user.lastName}} : </h4>
<table class="table table-striped" *ngIf="borrowings">
  <thead>
    <tr>
     
      <th scope="col">Titre</th>
      <th scope="col">Auteur</th>
      <th scope="col" class="column-3">Editeur</th>
      <th scope="col">date d'emprunt</th>
      <th scope="col">date d'échéance</th>
    </tr>
  </thead>
  <tbody *ngFor="let item of borrowings">
    <tr>
      <td>{{item.copy?.book?.title}}</td>
      <td>{{item.copy?.book?.author}}</td>
      <td class="column-3">{{item.copy?.editor}}</td>
      <td>{{item.borrowingDate|date}}</td>   
      <td>{{item.expectedDueDate|date}}</td> 
    </tr>
  </tbody>
</table>
