<h5>Cherchez le livre de l'exemplaire à supprimer :</h5>
<input type="search" placeholder="rechercher par titre et auteur" aria-label="Search" name="field" [(ngModel)]="field">
<button class="btn btn-primary" type="submit" (click)="getBookBySearch()">Rechercher</button>

<div *ngIf="books && search">
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let book of books">
      <button class="btn btn-secondary" (click)="validateBook(book)">Séléctionner</button> {{book.title}}
    </li>
  </ul>
</div>
<div>
  <ul class="list-group" *ngIf="selectedBook">
    <h5>Liste des exemplaires pour {{selectedBook.title}} : </h5>
    <div *ngIf="copies?.length==0">
      <p>Il n'y a pas d'exemplaires pour ce livre</p>
    </div>
    <li class="list-group-item" *ngFor="let copy of copies"><button type="button" class="btn btn-danger"
        (click)="deleteCopy(copy)">Supprimer</button> {{copy.editor}} </li>
  </ul>
</div>
<div *ngIf="validated">
  <p>L exemplaire de l'éditeur {{editorName}} du livre {{bookTitle}} a bien été supprimé</p>
</div>