<div class="container">
  <h5>Sélectionnez les livres selon leur catégorie :</h5>
  <hr>
  <div class="list-group">
    <div *ngFor="let category of categories">
      <a routerLink="/category/{{category.id}}" class="list-group-item list-group-item-action">{{category.name}}</a>
    </div>
  </div>
</div>