<div class="container">

  <h5>Cherchez le livre à mettre à jour :</h5>
  <input type="search" placeholder="rechercher par titre et auteur" aria-label="Search" name="field"
    [(ngModel)]="field">
  <button class="btn btn-primary" type="submit" (click)="getBookBySearch()">Rechercher</button><hr>

  <div *ngIf="books && showForm && firstForm">
    <h5>Liste des livres correspondant à la recherche : </h5>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let book of books">
        <button class="btn btn-warning" (click)="ValidateBook(book)">Selectionner</button> {{book.title}}
      </li>
    </ul>
  </div>
  <form (ngSubmit)="saveBook()" *ngIf="showForm && selectedBook">
    <div class="mb-3">
      <label for="title" class="form-label">Titre :</label>
      <input type="text" class="form-control" id="title" name="title" [(ngModel)]="selectedBook.title">
    </div>
    <div class="mb-3">
      <label for="author" class="form-label">Auteur :</label>
      <input type="text" class="form-control" id="author" name="author" [(ngModel)]="selectedBook.author">
    </div>
    <div class="mb-3">
      <label for="synopsis" class="form-label">résumé :</label>
      <textarea type="text" class="form-control" id="synopsis" rows="3" name="synopsis"
        [(ngModel)]="selectedBook.synopsis"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Valider</button>
  </form>
  <div *ngIf="validated">
    <p>Le livre a bien été mis à jour</p>
  </div>
</div>