<h5>Cherchez le livre à supprimer :</h5>
<input type="search" placeholder="rechercher par titre et auteur" aria-label="Search" name="field" [(ngModel)]="field">
<button class="btn btn-primary" type="submit" (click)="getBookBySearch()">Rechercher</button>

<div *ngIf="books">
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let book of books">
      <button class="btn btn-warning" (click)="deleteBook(book)">Supprimer</button> {{book.title}}
    </li>
  </ul>
</div>

