
<div *ngFor="let item of copies" class="card mb-3" id="card">
  <div class="row g-0 global-color">
    <div class="col-md-4 ">
      <img src="{{item.cover}}" class="img-fluid rounded-start " alt="{{item.book?.title}}">
    </div>
    <div class="col-md-8">
      <div class="card-body"><h5>{{item.book?.title}}</h5>
        <p class="card-text">{{item.book?.synopsis}}</p>
        <p class="card-text">éditeur: {{item.editor}}</p>
        <p class="card-text">nombre de pages: {{item.pageNumber}}</p>
        <p class="card-text"  *ngIf="isAvailable(item)" >nombre en stock: {{item.stock}}</p>
        <p class="red" *ngIf="!isAvailable(item)">ce livre n'est actuellement pas disponible</p>
        <p class="card-text"><small class="text-muted">auteur:  {{item.book?.author}}</small></p>
        <button type="button" class="btn btn-primary" [disabled]="!isAvailable(item)"  (click)="borrowACopy(item)">Emprunter</button>
      </div>
    </div>
  </div>
</div>


