<div class="container">
  <h4>Chercher un utilisateur par son nom ou prénom : </h4><hr>
  <input type="text" [(ngModel)]="searchField" name="searchField" id="searchField">
  <button type="button" class="btn btn-primary" (click)="searchUserByName()">Chercher</button>


  <div *ngIf="users">
    <table class="table table-striped" *ngIf="users.length>0">
      <thead>
        <tr>
          <th scope="col">Prénom</th>
          <th scope="col">Nom</th>
          <th scope="col">date de naissance</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody *ngFor="let user of users">
        <tr>
          <td>{{user.firstName}}</td>
          <td>{{user.lastName}}</td>
          <td>{{user.birthdate|date}}</td>
          <td> <button class="btn btn-primary" (click)="getBooksByUser(user.id!)">Valider l'utilisateur</button></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="users?.length==0">
    <p>aucun clients trouvés à ce nom</p>
  </div>

  <div *ngIf="showBookList &&borrowings?.length!=0">
    <h4>Emprunts de {{currentUser?.firstName}} {{this.currentUser?.lastName}} :</h4>
    <table class="table table-striped">
      <thead>
        <tr>

          <th scope="col">Titre</th>
          <th scope="col">Auteur</th>
          <th scope="col">Date d'emprunt</th>
          <th scope="col">Date d'échéance</th>
          <th scope="col">Etat avant</th>
          <th scope="col">Changement d'état</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody *ngFor="let item of borrowings; let indexOfelement=index;">
        <tr>
          <td>{{item.copy?.book?.title}}</td>
          <td>{{item.copy?.book?.author}}</td>
          <td>{{item.borrowingDate|date}}</td>
          <td>{{item.expectedDueDate|date}}</td>
          <td>{{item.copy?.state}}</td>
          <td>
            <input type="checkbox" class="change-state">
            <input class="state" type="text"  [(ngModel)]="item.copy.state" *ngIf="item.copy">
            </td>
          <td><button class="btn btn-primary" (click)="returnAbook(item)">Valider le retour</button></td>
        </tr>
      </tbody>
    </table>
   
  </div>
  <div *ngIf="borrowings">
    <p *ngIf="borrowings.length==0 && return">
      aucun emprunts en cours pour {{currentUser?.firstName}} {{this.currentUser?.lastName}}
    </p>
  </div>
</div>