
<h5>Veuillez compléter les informations ci dessous pour finaliser votre compte: </h5>
<form (ngSubmit)="updateUser()">
  <div class="form-group" >
    <label for="firstName">Prénom: </label>
    <input type="text" class="form-control" id="firstName" name="firstName" placeholder="prénom" [(ngModel)]="userToComplete!.firstName">
  </div>
  <div class="form-group">
    <label for="lastName">Nom: </label>
    <input type="text" class="form-control" id="lastName" name="lastName" placeholder="nom" [(ngModel)]="userToComplete!.lastName">
  </div>
  <div class="form-group">
    <label for="birthdate">Date de naissance: </label>
    <input type="date" class="form-control" id="birthdate" name="birthdate"  [(ngModel)]="userToComplete!.birthdate">
  </div>
  <button class="btn btn-success">Valider</button>
</form>
