<div class="container">
  <h5>Entrée de nouveau stock, sélectionnez le livre à réapprovisionner</h5>
  <input type="search" placeholder="rechercher par titre et auteur" aria-label="Search" name="field"
    [(ngModel)]="field">
  <button class="btn btn-primary" type="submit" (click)="getBookBySearch()">Rechercher</button>
  <div *ngIf="books && !displayCopies">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let book of books">
        <button class="btn btn-secondary" (click)="getCopiesByBook(book)">Sélectionner</button> {{book.title}}
      </li>
    </ul>
  </div>
  <div *ngIf="displayCopies && copies">

    <h5>Listes des exemplaires pour {{selectedBook?.title}} de {{selectedBook?.author}} par éditeur :</h5>
    <select [(ngModel)]="selectedCopy" id="dropdown">
      <option *ngFor="let copy of copies" [ngValue]="copy">{{copy.editor}}
      </option>
    </select>
  </div>
  <div *ngIf="selectedCopy">
    <form (ngSubmit)="restock()">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Titre</th>
            <th scope="col">Auteur</th>
            <th scope="col">Editeur</th>
            <th scope="col">Stock</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{selectedBook?.title}}</td>
            <td>{{selectedBook?.author}}</td>
            <td>{{selectedCopy?.editor}}</td>
            <td>{{selectedCopy?.stock}}</td>
            <td><input type="number" placeholder="nb à ajouter" [(ngModel)]="nbToAdd" name="nbToAdd"></td>
          </tr>
        </tbody>
      </table>
      <button type="submit" class="btn btn-secondary" [disabled]="!nbToAdd">Valider le réapprovisionnement</button>
    </form>
  </div>
  <hr>
  <div *ngIf="validated">
    <p>Le réapprovisionnement a bien été enregistré, nombre ajouté :{{nbToAdd}} pour le livre {{bookTitle}}</p>
  </div>