<div class="container">
  <h4>Création d'un nouveau livre : </h4>
  <form (ngSubmit)="saveBook()" *ngIf="showBookForm">
    <div class="mb-3">
      <label for="title" class="form-label">Titre :</label>
      <input type="text" class="form-control" id="title" name="title" [(ngModel)]="book.title">
    </div>
    <div class="mb-3">
      <label for="author" class="form-label">Auteur :</label>
      <input type="text" class="form-control" id="author" name="author" [(ngModel)]="book.author">
    </div>
    <div class="mb-3">
      <label for="synopsis" class="form-label">Résumé :</label>
      <textarea type="text" class="form-control" id="synopsis" rows="3" name="synopsis"
        [(ngModel)]="book.synopsis"></textarea>
    </div>
    <div class="mb-3">
      <label for="dropdown" class="form-label">Catégorie :</label><br>
      <select [(ngModel)]="book.category!.id" id="dropdown" name="dropdown">
        <option *ngFor="let category of categories" [ngValue]="category.id">{{category.name}}
        </option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Valider</button>
  </form>

  <div class="container" *ngIf="!showBookForm">
    <div class="row">
      <div class="col-6">
        <h5>Livre créé :</h5>
        <ul class="list-group">
          <li class="list-group-item">{{book.title}}</li>
          <li class="list-group-item">{{book.author}}</li>
        </ul>
      </div>
      <div class="col-6">
        <h5>Créer un exemplaire de {{book.title}}</h5>
        <form (ngSubmit)="saveCopy()">
          <div class="mb-3">
            <label for="editor" class="form-label">Editeur :</label>
            <input type="text" class="form-control" id="editor" name="editor" [(ngModel)]="copy.editor">
          </div>
          <div class="mb-3">
            <label for="pageNumber" class="form-label">Nombre de pages :</label>
            <input type="text" class="form-control" id="pageNumber" name="pageNumber" [(ngModel)]="copy.pageNumber">
          </div>
          <div class="mb-3">
            <label for="stock" class="form-label">Nombre de rentrées :</label>
            <input type="number" class="form-control" id="stock" name="stock" [(ngModel)]="copy.stock">
          </div>
          <div class="mb-3">
            <label for="state" class="form-label">Etat du livre :</label>
            <input type="text" class="form-control" id="state" name="state" [(ngModel)]="copy.state">
          </div>
          <div class="mb-3">
            <label for="cover" class="form-label">Url de la couverture :</label>
            <input type="text" class="form-control" id="cover" name="cover" [(ngModel)]="copy.cover">
          </div>
          <button type="submit" class="btn btn-primary">Valider</button>
        </form>
      </div>
    </div>
  </div>
</div>