<div class="container">
  <div class="row">
    <div *ngFor="let item of books" class="p-3 card col-6">
      <div class="card-body">
        <h5 class="card-title">{{item.title}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">auteur: {{item.author}}</h6>
        <p class="card-text">{{item.synopsis}}</p>
        <a routerLink="/copy/{{item.id}}" class="">Voir les exemplaires disponibles</a>
        
      </div>
    </div>
  </div>
</div>
