/* You can add global styles to this file, and also import other style files */
.red{
  color: red;
}

.global-color{
  background-color:rgba(140,188,202,255) !important;
}
body{
  background-color:#fff;
}

