<div class="container">
  <a routerLink="/create-book" class="link-primary">L'exemplaire ne possède pas de livre enregistré? Créez en un!</a>
  <hr>
  <h4>Création d'un nouvel exemplaire :</h4>
  <hr>

  <form (ngSubmit)="saveCopy()">
    <label for="dropdown" class="form-label">Sélectionnez le livre : </label><br>
    <select [(ngModel)]="copy.book" id="dropdown" name="dropdown">
      <option *ngFor="let book of books" [ngValue]="book">{{book.title}}
      </option>
    </select>
    <div class="mb-3">
      <label for="editor" class="form-label">Editeur :</label>
      <input type="text" class="form-control" id="editor" name="editor" [(ngModel)]="copy.editor">
    </div>
    <div class="mb-3">
      <label for="pageNumber" class="form-label">Nombre de pages :</label>
      <input type="text" class="form-control" id="pageNumber" name="pageNumber" [(ngModel)]="copy.pageNumber">
    </div>
    <div class="mb-3">
      <label for="stock" class="form-label">Nombre de rentrées :</label>
      <input type="number" class="form-control" id="stock" name="stock" [(ngModel)]="copy.stock">
    </div>
    <div class="mb-3">
      <label for="state" class="form-label">Etat du livre :</label>
      <input type="text" class="form-control" id="state" name="state" [(ngModel)]="copy.state">
    </div>
    <div class="mb-3">
      <label for="cover" class="form-label">Url de la couverture :</label>
      <input type="text" class="form-control" id="cover" name="cover" [(ngModel)]="copy.cover">
    </div>
    <button type="submit" class="btn btn-primary">Valider</button>

  </form>
</div>