<div class="mx-auto w-75 mt-5">
  <div class="card">
      <div class="card-header">
          <h1 class="card-title">Créer un compte</h1>
      </div>
      <div class="card-body">
          <form (ngSubmit)="register()">
              <p class="text-danger" *ngIf="hasError">Identifiants invalides</p>
              <div class="mb-3">
                  <label for="email" class="form-label"> adresse email:</label>
                  <input name="email" [(ngModel)]="user.email" type="email" class="form-control" id="email">
              </div>
              <div class="mb-3">
                  <label for="password" class="form-label">Mot de passe : </label>
                  <input name="password" [(ngModel)]="user.password" type="password" class="form-control" id="password">
              </div>
              <div class="mb-3">
                  <label for="passwordRepeat" class="form-label">Répétez le mot de passe : </label>
                  <input name="passwordRepeat" [(ngModel)]="passwordRepeat" type="password" class="form-control" id="passwordRepeat">
                  <p class="text-danger" *ngIf="user.password !== passwordRepeat">Les mots de passe ne correspondent pas</p>
              </div>
              <div class="form-group" >
                <label for="firstName">Prénom : </label>
                <input type="text" class="form-control" id="firstName" name="firstName" [(ngModel)]="user.firstName">
              </div>
              <div class="form-group">
                <label for="lastName">Nom : </label>
                <input type="text" class="form-control" id="lastName" name="lastName" [(ngModel)]="user.lastName">
              </div>
              <div class="form-group">
                <label for="birthdate">Date de naissance : </label>
                <input type="date" class="form-control" id="birthdate" name="birthdate"  [(ngModel)]="user.birthdate">
              </div>
              <button type="submit" class="btn btn-primary" [disabled]="user.password!==passwordRepeat">Valider</button>
          </form>
          <a routerLink="/login" class="card-link">Vous avez déja un compte ? identifiez vous !</a>
      </div>

  </div>
</div>

